{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>
    <table class="table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Durée (jours)</th>
                <th scope="col">Date de création</th>
                <th scope="col">Publié</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Formateurs</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.duration }}</td>
                    <td>{{ course.dateCreated | date('d/m/Y') }}</td>
                    <td>{{ course.published ? "X":"" }}</td>
                    <td>{{ course.category ? course.category.name : '?' }}</td>
                    {% if is_granted('ROLE_PLANNER') and (course.trainers.count > 0) %}
                        <td>
                            <a href="{{ path('cours_trainers',{'id':course.id}) }}">
                                {{ course.trainers|length }}
                            </a>
                        </td>
                    {% else %}
                        <td>{{ course.trainers|length }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('cours_show',{'id':course.id}) }}" title="Détail du cours">Détail</a>
                        <a href="{{ path('cours_edit',{'id':course.id}) }}" title="Modifier un cours">Modifier</a>
                        <a href="{{ path('cours_delete',{'id':course.id,'token':csrf_token('delete-'~course.id)}) }}" title="Supprimer le cours">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="7">Il n'y a pas de cours présent dans la base.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Les cours | {{ parent() }}
{% endblock %}

