{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Test{% endblock %}
{%  block body %}
    <h1>Démo Twig</h1>
    {#Commentaire : Crée une variable #}
    {% set name ="Philippe" %}

    <h2>Bonjour {{ name }}</h2>

    {# Création d'un objet #}
    {%  set book = {
        title: 'Symfony',
        year: 2000,
        author: 'John Doe'
    } %}

    <h3>{{ book.author }}</h3>
    <div>
        {% for key,val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
<hr>
    {# Crée une variable #}
    {% set name2 ="Pénélope" %}
    <h2>{{ name2 | upper }}</h2>
    <h2>{{ name2 | length }}</h2>

    {# Crée un tableau #}
    {% set colors = ["orange","brown","turquoise","blue"] %}
    <p>Nombre de couleurs : {{ colors | length }}</p>
    <p>{{ colors|join('/') }}</p>
    {% for color in colors %}
        <div style="background-color: {{ color }}">
            {{ loop.index }} {{ color }}
        </div>
    {% endfor %}

    {% set h1interprete="<h1>Je suis un titre interprété</h1>" %}
    {{ h1interprete|raw }}
    {{ h1interprete }}

<p>{{ "+1 year"|date('Y') }}</p>


    <hr>
    <p>{{ mySerie.title|raw }} {{ autreVar }}</p>

{% endblock %}














