<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DEMO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="item">
                    <a class="nav-link" href="{{ path('main_home')}}" title="Accueil">Accueil</a>
                </li>
                <li class="item">
                    <a class="nav-link" href="{{ path('main_test')}}" title="Test">Test</a>
                </li>
                <li class="item">
                    <a class="nav-link" href="{{ path('cours_list')}}" title="Liste des cours">Liste des cours</a>
                </li>
                {% if app.user %}
                <li class="item">
                    <a class="nav-link" href="{{ path('cours_create')}}" title="Créer un cours">Créer un cours</a>
                </li>
                {% endif %}
                <li class="item">
                    <a class="nav-link" href="{{ path('app_category_index')}}" title="Lister les catégories">Liste des catégories</a>
                </li>
                <li class="item">
                    <a class="nav-link" href="{{ path('app_category_new')}}" title="Créer une catégorie">Créer une catégorie</a>
                </li>
                {% if app.user %}
                <li class="item">
                    <a class="nav-link" href="{{ path('app_logout')}}" title="Se déconnecter">Se déconnecter</a>
                </li>
                {% else %}
                    <li class="item">
                        <a class="nav-link" href="{{ path('app_register')}}" title="S'inscrire">S'inscrire</a>
                    </li>
                    <li class="item">
                        <a class="nav-link" href="{{ path('app_login')}}" title="Se connecter">Se connecter</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                <li class="item">
                    <a class="nav-link" href="{{ path('admin_dashboard')}}" title="Dashboard Admin">Dashboard</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

